@charset "ISO-8859-1";
.cabecalho {
	width: 100%;
	height:10%;
	
}
.box {
	width: 100;
	height: 100%;
	background-color: green;
	display: flex;
	flex-direction: row;
}

.login {
    width: 50%;
    height: 300px;
    background-color: rgb(196, 195, 195);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}
.botaoEntrar{
	 display: flex;
    flex-direction: column;
 	align-items:center;
    justify-content: center;
}
.direita {
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}